body {
	margin: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	background: inherit;
}

button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}
